<p id="notice"><%= notice %></p>

<p>
  <strong>Company name:</strong>
  <%= @client_registration.company_name %>
</p>

<p>
  <strong>Buyer name:</strong>
  <%= @client_registration.buyer_name %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @client_registration.phone_number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @client_registration.email_id %>
</p>

<p>
  <strong>Mobile number:</strong>
  <%= @client_registration.mobile_number %>
</p>

<p>
  <strong>Purchasing manager name:</strong>
  <%= @client_registration.purchasing_manager_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @client_registration.address %>
</p>

<p>
  <strong>Nature of business:</strong>
  <%= @client_registration.nature_of_business %>
</p>

<p>
  <strong>Login:</strong>
  <%= @client_registration.login_id %>
</p>

<%= link_to 'Edit', edit_client_registration_path(@client_registration) %> |
<%= link_to 'Back', client_registrations_path %>
