<%= form_with(model: supplier_registration, local: true) do |form| %>
  <% if supplier_registration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(supplier_registration.errors.count, "error") %> prohibited this supplier_registration from being saved:</h2>

      <ul>
      <% supplier_registration.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :company_name %>
    <%= form.text_field :company_name %>
  </div>

  <div class="field">
    <%= form.label :supplier_name %>
    <%= form.text_field :supplier_name %>
  </div>

  <div class="field">
    <%= form.label :phone_number %>
    <%= form.text_field :phone_number %>
  </div>

  <div class="field">
    <%= form.label :email_id %>
    <%= form.text_field :email_id %>
  </div>

  <div class="field">
    <%= form.label :mobile_number %>
    <%= form.number_field :mobile_number %>
  </div>

  <div class="field">
    <%= form.label :manager_name %>
    <%= form.text_field :manager_name %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :nature_of_business %>
    <%= form.text_field :nature_of_business %>
  </div>

  <div class="field">
    <%= form.label :login_id %>
    <%= form.text_field :login_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
