<p id="notice"><%= notice %></p>

<p>
  <strong>Company name:</strong>
  <%= @supplier_registration.company_name %>
</p>

<p>
  <strong>Supplier name:</strong>
  <%= @supplier_registration.supplier_name %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @supplier_registration.phone_number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @supplier_registration.email_id %>
</p>

<p>
  <strong>Mobile number:</strong>
  <%= @supplier_registration.mobile_number %>
</p>

<p>
  <strong>Manager name:</strong>
  <%= @supplier_registration.manager_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @supplier_registration.address %>
</p>

<p>
  <strong>Nature of business:</strong>
  <%= @supplier_registration.nature_of_business %>
</p>

<p>
  <strong>Login:</strong>
  <%= @supplier_registration.login_id %>
</p>

<%= link_to 'Edit', edit_supplier_registration_path(@supplier_registration) %> |
<%= link_to 'Back', supplier_registrations_path %>
