<%= form_with(model: enquiry_details_page, local: true) do |form| %>
  <% if enquiry_details_page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(enquiry_details_page.errors.count, "error") %> prohibited this enquiry_details_page from being saved:</h2>

      <ul>
      <% enquiry_details_page.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :enquiry_number %>
    <%= form.text_field :enquiry_number %>
  </div>

  <div class="field">
    <%= form.label :enquiry_details %>
    <%= form.text_field :enquiry_details %>
  </div>

  <div class="field">
    <%= form.label :quotes_and_delivery_schedules %>
    <%= form.text_field :quotes_and_delivery_schedules %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
