<%= form_with(model: order, local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :customer_name %>
    <%= form.text_field :customer_name %>
  </div>

  <div class="field">
    <%= form.label :enquiry_number %>
    <%= form.text_field :enquiry_number %>
  </div>

  <div class="field">
    <%= form.label :client_name %>
    <%= form.text_field :client_name %>
  </div>

  <div class="field">
    <%= form.label :enquiry_for %>
    <%= form.text_field :enquiry_for %>
  </div>

  <div class="field">
    <%= form.label :color %>
    <%= form.text_field :color %>
  </div>

  <div class="field">
    <%= form.label :material %>
    <%= form.text_field :material %>
  </div>

  <div class="field">
    <%= form.label :gsm %>
    <%= form.text_field :gsm %>
  </div>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.number_field :quantity %>
  </div>

  <div class="field">
    <%= form.label :sizes %>
    <%= form.text_field :sizes %>
  </div>

  <div class="field">
    <%= form.label :printing %>
    <%= form.text_field :printing %>
  </div>

  <div class="field">
    <%= form.label :embroidery %>
    <%= form.text_field :embroidery %>
  </div>

  <div class="field">
    <%= form.label :place_of_printing %>
    <%= form.text_field :place_of_printing %>
  </div>

  <div class="field">
    <%= form.label :payment_terms %>
    <%= form.text_field :payment_terms %>
  </div>

  <div class="field">
    <%= form.label :client_target_price %>
    <%= form.text_field :client_target_price %>
  </div>

  <div class="field">
    <%= form.label :client_target_delivery_schedule %>
    <%= form.text_field :client_target_delivery_schedule %>
  </div>

  <div class="field">
    <%= form.label :offered_price %>
    <%= form.text_field :offered_price %>
  </div>

  <div class="field">
    <%= form.label :offered_delivery_schedule %>
    <%= form.text_field :offered_delivery_schedule %>
  </div>

  <div class="field">
    <%= form.label :owner_of_the_etask %>
    <%= form.text_field :owner_of_the_etask %>
  </div>

  <div class="field">
    <%= form.label :status_of_the_enquiry %>
    <%= form.text_field :status_of_the_enquiry %>
  </div>

  <div class="field">
    <%= form.label :supplier_name %>
    <%= form.text_field :supplier_name %>
  </div>

  <div class="field">
    <%= form.label :sample_readiness %>
    <%= form.text_field :sample_readiness %>
  </div>

  <div class="field">
    <%= form.label :sample_delivery %>
    <%= form.text_field :sample_delivery %>
  </div>

  <div class="field">
    <%= form.label :advance_received %>
    <%= form.text_field :advance_received %>
  </div>

  <div class="field">
    <%= form.label :status_of_the_order %>
    <%= form.text_field :status_of_the_order %>
  </div>

  <div class="field">
    <%= form.label :owner_of_the_otask %>
    <%= form.text_field :owner_of_the_otask %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
