<%= form_with(model: customisation, local: true) do |form| %>
  <% if customisation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customisation.errors.count, "error") %> prohibited this customisation from being saved:</h2>

      <ul>
      <% customisation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :type %>
      <input id="type" type="checkbox" name="type[item][]" value="Screen print"> Screen print
      <input id="type" type="checkbox" name="type[item][]" value="Sublimation"> Sublimation
      <input id="type" type="checkbox" name="type[item][]" value="Embroidery"> Embroidery 
  </div>

  <div class="field">
    <%= form.label :place_of_printing %>
     <input id="place_of_printing" type="checkbox" name="place_of_printing[item][]" value="Left chest"> Left chest
     <input id="place_of_printing" type="checkbox" name="place_of_printing[item][]" value="Right chest"> Right chest
     <input id="place_of_printing" type="checkbox" name="place_of_printing[item][]" value="Front"> Front
     <input id="place_of_printing" type="checkbox" name="place_of_printing[item][]" value="Rear"> Rear
     <input id="place_of_printing" type="checkbox" name="place_of_printing[item][]" value="Right sleeve"> Right sleeve 
     <input id="place_of_printing" type="checkbox" name="place_of_printing[item][]" value="Left sleeve"> Left sleeve
     <input id="place_of_printing" type="checkbox" name="place_of_printing[item][]" value="Moon yoke"> Moon yoke
     <input id="place_of_printing" type="checkbox" name="place_of_printing[item][]" value="Sides"> Sides
     <input id="place_of_printing" type="checkbox" name="place_of_printing[item][]" value="Others"> Others
  </div>

  <div class="field">
    <%= form.label :place_of_embroidery %>
     <input id="place_of_embroidery" type="checkbox" name="place_of_embroidery[item][]" value="Left chest"> Left chest
     <input id="place_of_embroidery" type="checkbox" name="place_of_embroidery[item][]" value="Right chest"> Right chest
     <input id="place_of_embroidery" type="checkbox" name="place_of_embroidery[item][]" value="Front"> Front
     <input id="place_of_embroidery" type="checkbox" name="place_of_embroidery[item][]" value="Rear"> Rear
     <input id="place_of_embroidery" type="checkbox" name="place_of_embroidery[item][]" value="Right sleeve"> Right sleeve 
     <input id="place_of_embroidery" type="checkbox" name="place_of_embroidery[item][]" value="Left sleeve"> Left sleeve
     <input id="place_of_embroidery" type="checkbox" name="place_of_embroidery[item][]" value="Moon yoke"> Moon yoke
     <input id="place_of_embroidery" type="checkbox" name="place_of_embroidery[item][]" value="Sides"> Sides
     <input id="place_of_embroidery" type="checkbox" name="place_of_embroidery[item][]" value="Others"> Others
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
