<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @customisation.type %>
</p>

<p>
  <strong>Place of printing:</strong>
  <%= @customisation.place_of_printing %>
</p>

<p>
  <strong>Place of embroidery:</strong>
  <%= @customisation.place_of_embroidery %>
</p>

<%= link_to 'Edit', edit_customisation_path(@customisation) %> |
<%= link_to 'Back', customisations_path %>
