<p id="notice"><%= notice %></p>

<h1>Operations Teams</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Mobile number</th>
      <th>Email</th>
      <th>Login</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @operations_teams.each do |operations_team| %>
      <tr>
        <td><%= operations_team.name %></td>
        <td><%= operations_team.mobile_number %></td>
        <td><%= operations_team.email_id %></td>
        <td><%= operations_team.login_id %></td>
        <td><%= link_to 'Show', operations_team %></td>
        <td><%= link_to 'Edit', edit_operations_team_path(operations_team) %></td>
        <td><%= link_to 'Destroy', operations_team, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Operations Team', new_operations_team_path %>
