<%= form_with(model: enquiry, local: true) do |form| %>
  <% if enquiry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(enquiry.errors.count, "error") %> prohibited this enquiry from being saved:</h2>

      <ul>
      <% enquiry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :client_name %>
    <%= form.text_field :client_name %>
  </div>

  <div class="field">
   <%= form.label :enquiry_for %>
    <input type="checkbox" id= "enquiry_for"name="item" value="Polo"  />Polo 
    <input name="item" type="hidden" value ="0" />
    <input type="checkbox" name="item" value="Round neck"> Round neck
     <input type="checkbox" name="item" value="Cap"> Cap 
   
  </div>

  <div class="field">
    <%= form.label :color %>
    <%= form.text_field :color %>
  </div>  

  <div class="field">
    <%= form.label :material %>
    <%= form.text_field :material %>
  </div>

  <div class="field">
    <%= form.label :gsm %>
    <%= form.text_field :gsm %>
  </div>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.number_field :quantity %>
  </div>

  <div class="field">
    <%= form.label :sizes %>
    <%= form.text_field :sizes %>
  </div>

  <div class="field">
    <%= form.label :printing %>
     <input type="checkbox" name="item" value="Screen print"> Screen print
      <input type="checkbox" name="item" value="Sublimation"> Sublimation
  </div>

  <div class="field">
    <%= form.label :embroidery %>
    <%= form.text_field :embroidery %>
  </div>

  <div class="field">
    <%= form.label :place_of_printing %>
     <input type="checkbox" name="item" value="Left chest"> Left chest
     <input type="checkbox" name="item" value="Right chest"> Right chest
     <input type="checkbox" name="item" value="Front"> Front
     <input type="checkbox" name="item" value="Rear"> Rear
     <input type="checkbox" name="item" value="Right sleeve"> Right sleeve 
     <input type="checkbox" name="item" value="Left sleeve"> Left sleeve
     <input type="checkbox" name="item" value="Moon yoke"> Moon yoke
     <input type="checkbox" name="item" value="Sides"> Sides
     <input type="checkbox" name="item" value="Others"> Others
   </div>  

  <div class="field">
    <%= form.label :payment_terms %>
    <%= form.text_field :payment_terms %>
  </div>

  <div class="field">
    <%= form.label :client_target_price %>
    <%= form.text_field :client_target_price %>
  </div>

  <div class="field">
    <%= form.label :client_target_delivery_schedule %>
    <%= form.text_field :client_target_delivery_schedule %>
  </div>


  <div class="field">
    <%= form.label :owner_of_the_etask %>
    <%= form.text_field :owner_of_the_etask %>
  </div>

  <div class="field">
    <%= form.label :status_of_the_enquiry %>
    <%= form.text_field :status_of_the_enquiry %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
