<p id="notice"><%= notice %></p>

<h1>Enquiries</h1>

<table>
  <thead>
    <tr>
      <th>Client name</th>
      <th>Enquiry for</th>
     
      <th>Color</th>
      <th>Material</th>
      <th>Gsm</th>
      <th>Quantity</th>
      <th>Sizes</th>
      <th>Printing</th>
      <th>Embroidery</th>
      <th>Place of printing</th>
      <th>Payment terms</th>
      <th>Client target price</th>
      <th>Client target delivery schedule</th>
      <th>Owner of the etask</th>
      <th>Status of the enquiry</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @enquiries.each do |enquiry| %>
      <tr>
        <td><%= enquiry.client_name %></td>
        <td><%= enquiry.enquiry_for %></td>

        <td><%= enquiry.color %></td>
        <td><%= enquiry.material %></td>
        <td><%= enquiry.gsm %></td>
        <td><%= enquiry.quantity %></td>
        <td><%= enquiry.sizes %></td>
        <td><%= enquiry.printing %></td>
        <td><%= enquiry.embroidery %></td>
        <td><%= enquiry.place_of_printing %></td>
        <td><%= enquiry.payment_terms %></td>
        <td><%= enquiry.client_target_price %></td>
        <td><%= enquiry.client_target_delivery_schedule %></td>
        <td><%= enquiry.owner_of_the_etask %></td>
        <td><%= enquiry.status_of_the_enquiry %></td>
        <td><%= link_to 'Show', enquiry if policy(enquiry).show? %></td>
        <td><%= link_to 'Edit', edit_enquiry_path(enquiry) if policy(enquiry).update?  %></td>
        <td><%= link_to 'Destroy', enquiry, method: :delete, data: { confirm: 'Are you sure?' } if policy(enquiry).destroy? %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Enquiry', new_enquiry_path %>
